.form-control{
  padding-top: 1.375rem;
  padding-right: 0.75rem;
  padding-bottom: 1.375rem;
  padding-left: 0.75rem;
}
h1{

}
.container {
    width: 30%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 65%;
    margin-top: 10%;
}
img{
  padding-right: 15px;
  position: absolute;
  height: 311px;
  weight: 500px;
  left: 100px;
  top: 129px;
}
